<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>19/02/16 11:13:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@59494225]">CreateLead</td> 
  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>19/02/16 11:14:32</td>   <td>33413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_FindLead.FindLead()[pri:0, instance:bl.framework.testcases.TC003_FindLead@cb644e]">FindLead</td> 
  <td>main@601893033</td>   <td></td> </tr>
</table>
