<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="838989">  <td>19/02/17 12:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@6adede5]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 12:24:33</td>   <td>7286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@6adede5]">CreateLead</td> 
  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>19/02/17 12:24:44</td>   <td>18558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@6adede5]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 12:24:50</td>   <td>24648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@6adede5]">CreateLead</td> 
  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>19/02/17 12:25:02</td>   <td>36336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@6adede5]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 12:25:08</td>   <td>42654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@6adede5]">CreateLead</td> 
  <td>main@727001376</td>   <td></td> </tr>
</table>
